<!DOCTYPE html>
<html>
  <head>
    <title>Space Race Analysis</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Analysis of space race data" />
    <meta name="keywords" content="space, race, analysis" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>🚀 Space Race Analysis 🛰️</h1>
    </header>

    <section>
      <h2>Data structure</h2>
      <p>
        Mission lauch database base has {{shape[1]}} and {{shape[0]}} rows.
        Excludin the index data return organization, location and date of the
        launch, detail, price, rocket and mission status.<br />
        Below the data sample.
      </p>
      <br />
      <div class="table-responsive">{{ head | safe }}</div>
    </section>

    <section>
      <h2>Number of missions per year</h2>
      <p>
        After the space rush from 1960 to 1980, missions trend has gradually
        decreased to reach its minimum in 2012. Then the trend has rocketed
        again from 2015 onwards.
      </p>
      <br />
      <div>{{ trend | safe }}</div>
    </section>

    <section>
      <h2>Number of missions per organisation</h2>
      <p>
        Russias space agency RVSN URSS leads the number of missions per single
        organisation. At country level USA has several organization that should
        be summed for comparison.
      </p>
      <br />
      <div>{{ organisation | safe }}</div>
    </section>

    <section>
      <h2>Mission status in percentage</h2>
      <p>
        Almost 90% of mission is succesfull. Partial or complete failure is
        around 10% while prelaunch failurs are below 0,1%.
      </p>
      <br />
      <div>{{ status | safe }}</div>
    </section>

    <section>
      <h2>Budget spent per year</h2>
      <p>
        Average spending has gradually increased from 1 to 4.5 billion dollars
        per year. Probably due to the cold war some data are missing from 1975
        to 1980.
      </p>
      <br />
      <div>{{ price_per_year | safe }}</div>
    </section>

    <section>
      <h2>Budget spent by Organization</h2>
      <p>
        Average spending has gradually increased from 1 to 4.5 billion dollars
        per year. Probably due to the cold war some data are missing from 1975
        to 1980.
      </p>
      <br />
      <div>{{ budget_per_org | safe }}</div>
    </section>

    <footer>
      <p>©2024 Space Race Analysis. All rights reserved.</p>
    </footer>
  </body>
</html>
