<!DOCTYPE html>
<html>
  <head>
    <title>Space Race Analysis</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Analysis of space race data" />
    <meta name="keywords" content="space, race, analysis" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>🚀 Space Race Analysis 🛰️</h1>
    </header>

    <section>
      <h2>Data structure</h2>
      <p>
        Mission lauch database base has {{shape[1]}} and {{shape[0]}} rows.
        Excludin the index data return organization, location and date of the
        launch, detail, price, rocket and mission status.
      </p>
      <br />
      <div class="table-responsive">{{ head | safe }}</div>
    </section>

    <section>
      <h2>Number of missions per year</h2>
      <p>
        After the space rush from 1960 to 1980, missions trend has gradually
        decreased to reach its minimum in 2012. Then the trend has rocketed
        again from 2015 onwards.
      </p>
      <div>{{ trend | safe }}</div>
    </section>

    <section>
      <h2>Titolo della sezione 3</h2>
      <p>Contenuto della sezione 3</p>
    </section>

    <section>
      <h2>Titolo della sezione 4</h2>
      <p>Contenuto della sezione 4</p>
    </section>

    <footer>
      <p>©2024 Space Race Analysus. All rights reserved.</p>
    </footer>
  </body>
</html>
